.inner-container {
  background-image: url(../images/background/background-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 1200px;
  box-sizing: border-box;
  padding: 35px 70px 70px;
  color: #FFFFFF;
}
.inner-header-title {
  margin: 0 0 8px 0;
  padding: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}
.breadcrumbs {
  display: flex;
  position: relative;
  column-gap: 28px;
  list-style: none;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
}
.breadcrumbs-item {
  position: relative;
}
.breadcrumbs li:not(:last-child)::before {
  position: absolute;
  content: "";
  background-image: url(../images/breadcrumbs/breadcrumbs-2.svg);
  right: -14px;
  top: 5px;
  width: 8px;
  height: 20px;
}
.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
}
.breadcrumbs-link-home {
  display: inline-block;
  background-image: url(../images/breadcrumbs/breadcrumbs-1.svg);
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
}
.forms {
  display: flex;
  justify-content: space-between;
}
.form-filter {
  display: grid;
  grid-template-columns: 150.43px 150.43px;
  grid-template-rows: 157px;
  column-gap: 70px;
  margin: 0 140px 0 0;
  padding: 40px 0 0 0;
}
.catalog-filter {
  display: flex;
  column-gap: 70px;
}
.catalog-filter-group {
  grid-column: 1 / 2;
  border: 0;
  margin: 0;
  padding: 0;
}
.catalog-house-group {
  grid-column: 2 / 3;
  border: 0;
  margin: 0;
  padding: 0;
}
.catalog-filter-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  text-transform: capitalize;
}
.catalog-filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.control label {
  font-weight: 400;
}
.control-input {
  margin: 0;
  border: 0;
  padding: 0;
}
.form-price {
  display: grid;
  grid-template-columns: 288px 191px;
  grid-template-rows: 160px;
  column-gap: 70px;
  padding-top: 40px;
}
.appointment-form {
  grid-column: 1 / 2;
  padding: 0;
  margin: 0;
  border: 0;
}
.appointment-form-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: #FFFFFF;
}
.appointment-form-price {
  display: inline-flex;
  column-gap: 2px;
  padding-top: 32px;
}
.price-label {
  display: inline-flex;
  align-items: center;
  background-color: #F2F2F2;
  justify-content: flex-end;
}
.appointment-form-price span {
  position: absolute;
  font-size: 18px;
  line-height: 1.2;
  background-color: #F2F2F2;
  padding-right: 20px;
  color: rgba(255, 255, 255, 0.3);
}
.price-input {
  width: 143px;
  height: 48px;
  border: 1px solid #ccc;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.price-input:hover {
  background-color: #E6E6E6;
}
.price-input-before {
  width: 143px;
  height: 48px;
  border: 1px solid #ccc;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.appointment-price {
  padding: 0;
  margin: 0;
  border: 0;
}
.range {
  padding: 0;
  margin: 0;
  border: 0;
}
.button-price {
  grid-column: 2 / 3;
  padding-top: 56px;
}
.apartments {
  padding: 50px 70px 60px 70px;
}
.search-apartments {
  display: flex;
  justify-content: center;
  color:#000000;
  background-color:#FFFFFF
}
.apartments-select {
  width: 338px;
  margin: 0 auto 0 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: inherit;
  background-color: #FFFFFF;
}
.select-control {
  font-size: 18px;
  line-height: 21px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  appearance: none;
  padding: 12px 20px;
  padding-right: 40px;
  background-image: url("../images/arrow-down.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  background-position: right 20px center;
  background-size: 12px 7px;
  width: 292px;
  height: 49px;
  margin-right: 70px;
  background-color: #FFFFFF;
}
.select-control:hover {
  border-color: #68A2CA;
}
.select-control:focus {
  border-color: #68A2CA;
  outline: none;
}
.select-control:focus-visible {
  border-color: #68A2CA;
  outline: none;
}
.select-control:active {
  border-color: #3F5E72;
}
.view-list {
  width: 160px;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: center;
  display: flex;
  text-align: center;
  column-gap: 8px;
}
.view-item {
  border-radius: 4px;
}
.button-view {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  box-sizing: border-box;
}
.button-view:hover {
  border-color:  #000000;
}
.button-view:focus {
  outline: none;
  border-color: #68A2CA;
}
.button-view:focus-visible {
  outline: none;
  border-color: #68A2CA;
}
.button-view:active {
  border-color: #000000;
}
.button-view-dark {
  border: 2px solid black;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
}
.cards-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(438px, auto);
  row-gap: 20px;
  column-gap: 20px;
  padding: 40px 0 0 0;
  margin: 0;
  border-bottom: 1px solid #E6E6E6;
  list-style: none;

}
.cards-item {
  border: 1px solid #E6E6E6;
  margin-left: auto;
  margin-right: auto;
  min-height: 438px;
  min-width: 340px;
  color: #FFFFFF;
}
.place-card-title {
  margin: 0 0 16px 0;
  padding-top: 16px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  background-color: #FFFFFF;
  text-align: left;
}
.sort {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 21px 36px 37px ;
  column-gap: 20px;
  row-gap: 16px;
  padding-left: 20px;
  padding-right: 20px;
}
.place-name {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #FFFFFF;
  text-align: left;
}
span {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #FFFFFF;
  text-align: right;
}
.button-more {
  padding: 8px 26px;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #756157;
}
.rating-text {
  grid-column: 3 / 4;
  grid-row: 5 / 6;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  background-color: #FFFFFF;
  text-align: right;
  text-transform: uppercase;
}
figure {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
}
.button-active {
  padding: 8px 18px;
  border: none;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #7DB54F;
}
.pagination-navigation {
  width: min(100%, 400px);
}
.pagination-list {
  padding: 0;
  display: flex;
  justify-content: flex-start;
  column-gap: 8px;
  list-style: none;
  margin: 0 0 0 70px;
}
.pagination-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #82B3D3;
  min-height: 60px;
  min-width: 60px;
  border-radius: 4px;
}
.pagination-item-light {
  color: #000000;
  background-color: #F2F2F2;
}
.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  cursor: pointer;
  color: #FFFFFF;
  outline: none;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
}
.pagination-link:hover {
  background-color: #68A2CA;
}
.pagination-link:focus {
  background-color: #68A2CA;
}
.pagination-link:focus-visible {
  background-color: #68A2CA;
}
.pagination-link:focus-visible {
  background-color: #68A2CA;
}
.pagination-link:active {
  background-color: #68A2CA;
}
.pagination-link:active {
  color: #FFFFFF4D;
  fill: #82B3D3;
}
.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
  text-decoration: none;
}
.pagination-current:hover {
  background-color: #F2F2F2;
}
.pagination-current:focus {
  background-color: #F2F2F2;
}
.pagination-current:focus-visible {
  background-color: #F2F2F2;
}
.pagination-current:active {
  color: #000000;
  background-color: #F2F2F2;
}
.pagination-choose {
  color: #000000;
}
.pagination-choose:hover {
  background-color: #F2F2F2;
}
.pagination-choose:focus {
  background-color: #F2F2F2;
}
.pagination-choose:focus-visible {
  background-color: #F2F2F2;
}
.pagination-choose:active {
  color: #000000;
  background-color: #F2F2F2;
}
.newsletter-theme-dark {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 258px 104px;
  color: #000000;
  background-color: #ffffff;
  background-repeat: no-repeat;
  text-align: center;
}
.newsletter-title {
  margin: 0;
  width: 404px;
  padding: 0 398px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}
.newsletter-description {
  margin: 0 0 54px 0;
  padding-top: 20px;
  width: 475px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-transform: none;
  color: #333333;;
}
.button-size-large {
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #82B3D3;
}
