@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-diplay: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}
body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #ffffff;
}
.page-header {
  color: #000000;
  background-color: #ffffff;
}
.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: inherit;
  background-color: #ffffff;
}
.navigation-link-current {
  color: inherit;
  background-color: #ffffff;
  text-decoration: underline;
}
.button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
}
.inner-container {
  background-image: url("../images/background/background-3.jpg");
  background-repeat: no-repeat;
  width: 1200px;
  height: 412px;
  color: #FFFFFF;
  background-color: #000000;
}
.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}
.breadcrumbs {
  color: #FFFFFF;
}
.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
}
.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  text-transform: capitalize;
}
.control label {
  font-weight: 400;
}
.appointment-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.button-secondary {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #82B3D3;
}
.button-third {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}
.search-apartments {
  color:#000000;
  background-color:#FFFFFF
}
.apartments-select {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: inherit;
  background-color: #FFFFFF;
}
.select-control {
  background-image: url("../images/arrow-down.svg");
  background-repeat: no-repeat;
  width: 11.93px;
  height: 7.02px;
  color: #000000;
  background-color: #FFFFFF;
}
.view-list {
  list-style: none;
  align-items: center;
  display: flex;
  width: 47.33px;
  height: 40px;
}
.view-item {
  color: #000000;
  background-color: #FFFFFF;
}
.button-view-cards {
  color: inherit;
  background-color: #FFFFFF;
}
.card-list {
  display: flex;
  align-items: center;
  list-style: none;
  width: 340px;
  height: 438px;
}
.cards-item {
  color: #FFFFFF;
}
.place-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  background-color: #FFFFFF;
  text-align: left;
}
.text div {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #FFFFFF;
}
.rating-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  background-color: #FFFFFF;
  text-align: right;
}
.pagination-list {
  background-color: #FFFFFF;
  list-style: none;
}
.pagination-link {
  color: #FFFFFF;
  background-color: #82B3D3;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}
.pagination-current {
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
}
.newsletter-theme-dark {
  color: #000000;
  background-color: #ffffff;
  background-repeat: no-repeat;
  text-align: center;
}
.newsletter-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFFFFF;
}
.newsletter-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-transform: none;
  color: #333333;;
  background-color: #FFFFFF;
}
.button-secondary {
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #82B3D3;
}
.page-footer {
  color: #FFFFFF;
}
.page-footer,
.copyright {
 color: #000000;
 text-align: right;
 text-decoration: none;
}
.footer-social-list {
 background-color: #FFFFFF;
 display: flex;
 list-style: none;
 align-items: center;
}
.footer-social-item {
  color: #83B3D3;
  background-color: #FFFFFF;
  width: 24px;
  height: 14px;
}
.footer-social-link a {
  background-color: #FFFFFF;
  color: #83B3D3;
  text-decoration: none;
}
.contacts-phone {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
