@font-face {
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-diplay: swap;
}

@font-face {
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 1280px;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #F2F2F2;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.container {
  margin: 0 auto;
  width: 1200px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;
}

.page-header {
  position: relative;
  padding: 14px 70px 14px 254px;
  display: flex;
  color: #000000;
  background-color: #ffffff;
}

.navigation-logo {
  position: absolute;
  outline: none;
  left: 70px;
  top: 0;
  display: flex;
  justify-content: center;
  width: 140px;
  height: 70px;
  margin-right: 28px;
}

.navigation-logo:hover {
  opacity: 0.3;
}

.navigation-logo:focus {
  opacity: 0.4;
}

.navigation-logo:focus-visible {
  opacity: 0.4;
}

.navigation {
  display: flex;
  width: 100%;
}

.navigation-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 350px;
  gap: 32px;
  margin: 0 auto 0 0;
  padding: 0;
  list-style: none;
}

.navigation-user {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  max-width: 95px;
  margin-right: 32px;
}

.navigation-link {
  position: relative;
  outline: none;
  display: block;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.navigation-link:hover {
  opacity: 0.3;
}

.navigation-link:focus {
  opacity: 0.4;
}

.navigation-link:focus-visible {
  opacity: 0.4;
}

.navigation-link-current {
  position: relative;
  color: inherit;
  text-decoration: none;
}

.navigation-link-current::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  left: 0;
  bottom: -21px;
  background-color: #756257;
}

.navigation-button-search {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.navigation-button-search:hover {
  opacity: 0.3;
}

.navigation-button-search:focus {
  outline: none;
  opacity: 0.4;
}

.navigation-button-search:focus-visible {
  opacity: 0.4;
}

.navigation-link-favorite {
  cursor: pointer;
}

.navigation-icon {
  fill: #000000;
}

.content-bage {
  position: absolute;
  top: -11px;
  left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  color: #ffffff;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  border-radius: 10px;
  background-color: #7DB54F;
}

.button {
  display: inline-block;
  font-family: inherit;
  box-sizing: border-box;
  max-width: 376px;
  outline: none;
  padding: 8px 34px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
}

.button:hover {
  background-color: #615048;
}

.button:focus {
  background-color: #615048;
}

.button:active {
  color: #FFFFFF4D;
  background-color: #756157;
}

.button:disabled {
  color: #FFFFFF;
  background-color: #E5E5E5;
}

.main-container {
  flex-grow: 1;
}

.button-secondary {
  font-weight: 700;
  padding: 8px 50px;
  font-size: 16px;
  min-width: 191px;
  line-height: 20px;
}

.button-secondary {
  background-color: #82B3D3;
}

.button-secondary:hover {
  background-color: #68A2CA;
}

.button-secondary:focus {
  background-color: #68A2CA;
}

.button-secondary:active {
  color: #FFFFFF4D;
  background-color: #82B3D3;
}

.button-secondary:disabled {
  color: #FFFFFF;
  background-color: #E5E5E5;
}

.button-third {
  outline: none;
  border: none;
  padding: 8px 58px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: transparent;
}

.button-third:hover {
  opacity: 0.6;
  background-color: transparent;
}

.button-third:focus {
  outline: 3px solid #83B3D3;
  color: #FFFFFF;
  background-color: transparent;
}

.button-third:focus-visible {
  color: #FFFFFF;
  outline: 3px solid #83B3D3;
  background-color: transparent;
}

.button-third:active {
  outline: none;
  color: rgba(255, 255, 255, 0.3);
  background-color: transparent;
}

.button-third:disabled {
  opacity: 0.1;
  background-color: transparent;
}

.button-more {
  padding: 8px 26px;
  font-size: 16px;
  line-height: 1.25;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #756157;
}

.button-secondary {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  font-size: 16px;
  line-height: 1.25;
  padding: 8px 20px;
  min-width: 140px;
}

.button-secondary {
  background-color: #82B3D3;
}

.button-secondary:hover {
  background-color: #68A2CA;
}

.button-secondary:focus {
  background-color: #68A2CA;
}

.button-secondary:active {
  color: #FFFFFF4D;
  background-color: #82B3D3;
}

.button-secondary:disabled {
  color: #FFFFFF;
  background-color: #E5E5E5;
}

.button-active {
  padding: 8px 18px;
  font-size: 16px;
  line-height: 1.25;
  border: none;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #7DB54F;
}

.button-active:hover {
  color: #FFFFFF;
  background-color: #6C9E42;
}

.button-active:focus {
  border: none;
  color: #FFFFFF;
  background-color: #6C9E42;
}

.button-active:active {
  color: #FFFFFF4D;
  background-color: #7DB54F;
}

.button-active:disabled {
  color: #FFFFFF;
  background-color: #E5E5E5;
}

.inner-container {
  background-image: url(../images/background/background-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 1200px;
  min-height: 412px;
  box-sizing: border-box;
  padding: 35px 70px 70px;
  color: #FFFFFF;
  background-color: #000000;
}

.inner-header-title {
  margin: 0 0 3px 0;
  padding: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.breadcrumbs {
  position: relative;
  display: flex;
  column-gap: 28px;
  list-style: none;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs li:not(:last-child)::before {
  position: absolute;
  content: "";
  background-image: url(../images/breadcrumbs/breadcrumbs-2.svg);
  right: -18px;
  top: 5px;
  width: 8px;
  height: 20px;
}

.breadcrumbs-link {
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  line-height: 1.3125;
  color: inherit;
  text-decoration: none;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
  color: #FFFFFF;
}

.breadcrumbs-link:focus-visible {
  color: #FFFFFF;
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link-home {
  display: inline-block;
  outline: none;
  background-image: url(../images/breadcrumbs/breadcrumbs-1.svg);
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
}

 .breadcrumbs-link-home:hover {
  opacity: 0.3;
}

.breadcrumbs-link-home:focus {
  opacity: 0.4;
}

.breadcrumbs-link-home:focus-visible {
  outline: none;
  opacity: 0.4;
}

.forms {
  display: flex;
  justify-content: space-between;
  width: 1060px;
}

.form-filter {
  display: grid;
  grid-template-columns: 150px 150px;
  grid-template-rows: minmax(157px) auto;
  column-gap: 70px;
  max-width: 380px;
  margin: 0 140px 0 0;
  padding: 40px 0 0 0;
}

.catalog-filter {
  display: flex;
  column-gap: 70px;
}

.catalog-filter-group {
  grid-column: 1 / 2;
  border: 0;
  margin: 0;
  padding: 0;
}

.catalog-house-group {
  grid-column: 2 / 3;
  border: 0;
  margin: 0;
  padding: 0;
}

.catalog-filter-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: #FFFFFF;
  text-transform: capitalize;
}

.catalog-filter-list {
  list-style: none;
  margin: 29px 0 0 0;
  padding: 0;
}

.control {
  color: #FFFFFF;
  position: relative;
  display: block;
  height: 23px;
  padding-left: 36px;
}

.catalog-filter-item:not(:last-child) .control {
  margin-bottom: 16px;
}

.control-input {
  font-family: "PT Sans", sans-serif;
  margin: 0;
  border: 0;
  padding: 0;
}

.control-mark {
  position: absolute;
  width: 20px;
  top: 5px;
  left: 0;
  background-color: #FFFFFF;
  height: 20px;
  border: none;
  border-radius: 4px;
}

.control:hover .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.control:focus-within .control-mark {
  outline: 3px solid #83B3D3;
  background-color: #FFFFFF;
}

.control:active .control-mark {
  background-color: rgba(255, 255, 255, 0.3);
}

.control:hover .control-label {
  color: rgba(255, 255, 255, 0.6);
}

.control:focus-within .control-label {
  color: #FFFFFF;
}

.control:active .control-label {
  color: rgba(255, 255, 255, 0.3);
}

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  content: "";
  background-image: url(../images/done-usual.svg);
  top: 5px;
  right: 4px;
  width: 12px;
  height: 10px;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
  border: none;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}

.control-label {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2777;
  color: #FFFFFF;
}

.form-price {
  display: grid;
  grid-template-columns: 288px 191px;
  grid-template-rows: minmax(160px, auto);
  max-width: 600px;
  column-gap: 70px;
  padding-top: 40px;
}

.appointment-form {
  grid-column: 1 / 2;
  padding: 0;
  margin: 0;
  border: 0;
}

.appointment-form-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: #FFFFFF;
}

.appointment-form-price {
  display: inline-flex;
  align-items: flex-start;
  column-gap: 2px;
  padding-top: 32px;
  margin-bottom: 44px;
}

.price-label {
 position: relative;
}

.appointment-form-price span {
  position: absolute;
  right: 20px;
  top: 50%;
  font-size: 18px;
  line-height: 1.3333;
  color: rgba(0, 0, 0, 0.3);
  transform: translateY(-50%);
}

.price-input {
  outline: none;
  max-width: 143px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  box-sizing: border-box;
  font-size: 18px;
  padding-right: 60px;
  padding-left: 20px;
  background-color: #F2F2F2;
  height: 48px;
  border: 1px solid #ccc;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.price-input:hover {
  background-color: #E6E6E6;
}

.price-input:focus {
  outline: 2px solid #83B3D3;
  background-color: #E6E6E6;
}

.price-input:focus-visible {
  outline: 2px solid #83B3D3;
  background-color: #E6E6E6;
}

.price-input:active {
  background-color: #FFFFFF;
  outline: 2px solid #000000;
}

.price-input-before {
  outline: none;
  font-family: "PT Sans", sans-serif;
  padding-right: 60px;
  font-size: 18px;
  font-weight: 700;
  padding-left: 20px;
  box-sizing: border-box;
  width: 143px;
  height: 48px;
  border: 1px solid #ccc;
  background-color: #F2F2F2;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.price-input-before:hover {
  background-color: #E6E6E6;
}

.price-input-before:focus {
  border-color: #83B3D3;
  background-color: #E6E6E6;
}

.price-input-before:focus-visible {
  outline: 2px solid #83B3D3;
  background-color: #E6E6E6;
}

.price-input-before:active {
  background-color: #FFFFFF;
  outline: 2px solid #000000;
}

.min-price .max-price {
  padding: 0;
  margin: 0;
  border: 0;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
}

.range-toggle {
  position: absolute;
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #FFFFFF;
  cursor: pointer;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  background-color: #FFFFFF;
}

.range-toggle:focus {
  background-color: #FFFFFF;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  outline: 3px solid #83B3D3;
}

.range-toggle:active {
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
  background-color: #FFFFFF;
  outline: 2px solid #83B3D3;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: 0;
}

.button-price {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  grid-column: 2 / 3;
  padding-top: 56px;
}

.apartments {
  padding: 50px 70px 60px 70px;
}

.search-apartments {
  display: flex;
  justify-content: center;
  align-items: center;
  color:#000000;
  background-color:#FFFFFF
}

.apartments-select {
  width: 338px;
  margin: 0 auto 0 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: inherit;
  background-color: #FFFFFF;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  font-family: "PT Sans", sans-serif;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  appearance: none;
  padding: 12px 20px;
  padding-right: 40px;
  background-image: url("../images/arrow-down.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  background-position: right 20px center;
  background-size: 12px 7px;
  width: 292px;
  height: 49px;
  margin-right: 70px;
  background-color: #FFFFFF;
}

.select-control:hover {
  border-color: #68A2CA;
}

.select-control:focus {
  border-color: #68A2CA;
  outline: none;
}

.select-control:focus-visible {
  border-color: #68A2CA;
  outline: none;
}

.select-control:active {
  border-color: #3F5E72;
}

.select-control:disabled {
  background-image: url(../images/arrow-down-disabled.svg);
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.3);
  border-color: rgba(0, 0, 0, 0.3);
}

.view-list {
  max-width: 170px;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: center;
  display: flex;
  text-align: center;
  column-gap: 8px;
}

.view-item {
  border-radius: 4px;
}

.button-view {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  box-sizing: border-box;
}

.button-view:hover {
  border-color:  #000000;
}

.button-view:focus {
  outline: none;
  border-color: #68A2CA;
}

.button-view:focus-visible {
  outline: none;
  border-color: #68A2CA;
}

.button-view:active {
  border-color: #000000;
}

.button-view-dark {
  border: 2px solid black;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
}

.cards-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(438px, auto);
  row-gap: 20px;
  column-gap: 17px;
  padding: 40px 0 40px 0;
  margin: 0;
  box-sizing: border-box;
  border-bottom: 1px solid #E6E6E6;
  list-style: none;

}

.cards-item {
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  color: #FFFFFF;
}

.place-card-image {
  max-width: 100%;
  height: auto;
}

.place-card-title {
  margin: 10px 0 16px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  background-color: #FFFFFF;
  text-align: left;
}

.sort {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: minmax(21px, auto) minmax(36px, auto) minmax(37px, auto);
  column-gap: 20px;
  box-sizing: border-box;
  row-gap: 16px;
}

.place-name {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #FFFFFF;
  text-align: left;
}

.marks {
  margin: 0;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  display: flex;
  align-items: center;
  column-gap: 6px;
}

.price-before {
  grid-row: 1 / 2;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-align: right;
}

.rating {
  background-color: #F2F2F2;
}

.rating-text {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  font-weight: 400;
  padding: 9px 22px 8px 23px;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  text-align: right;
  text-transform: uppercase;
}

.pagination-navigation {
  width: min(100%, 400px);
}

.pagination-list {
  padding: 40px 0 0 0;
  display: flex;
  justify-content: flex-start;
  column-gap: 8px;
  list-style: none;
  margin: 0;
}

.pagination-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #82B3D3;
  min-height: 60px;
  min-width: 60px;
  border-radius: 4px;
}

.pagination-item-light {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-width: 60px;
  min-height: 60px;
  cursor: pointer;
  color: #FFFFFF;
  outline: none;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
}

.pagination-link:hover {
  background-color: #68A2CA;
  border-radius: 4px;
}

.pagination-link:focus {
  background-color: #68A2CA;
  border-radius: 4px;
}

.pagination-link:focus-visible {
  background-color: #68A2CA;
  border-radius: 4px;
}

.pagination-link:focus-visible {
  background-color: #68A2CA;
  border-radius: 4px;
}

.pagination-link:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.pagination-current {
  color: #000000;
  border-radius: 4px;
  background-color: #F2F2F2;
  text-decoration: none;
}

.pagination-current:hover {
  border-radius: 4px;
  background-color: #F2F2F2;
}

.pagination-current:focus {
  border-radius: 4px;
  background-color: #F2F2F2;
}

.pagination-current:focus-visible {
  border-radius: 4px;
  background-color: #F2F2F2;
}

.pagination-current:active {
  border-radius: 4px;
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-choose {
  border-radius: 4px;
  color: #000000;
}

.pagination-choose:hover {
  border-radius: 4px;
  background-color: #F2F2F2;
}

.pagination-choose:focus {
  border-radius: 4px;
  background-color: #F2F2F2;
}

.pagination-choose:focus-visible {
  border-radius: 4px;
  background-color: #F2F2F2;
}

.pagination-choose:active {
  border-radius: 4px;
  color: #000000;
  background-color: #F2F2F2;
}

.newsletter-theme-dark {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 258px 104px;
  color: #000000;
  background-color: #ffffff;
  background-repeat: no-repeat;
  text-align: center;
}

.newsletter .button-secondary {
  font-size: 20px;
  line-height: 1.8;
  padding: 8px 50px;
  min-width: 232px;
  background-color: #82B3D3;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.button-secondary {
  background-color: #82B3D3;
}

.button-secondary:hover {
  background-color: #68A2CA;
}

.button-secondary:focus {
  background-color: #68A2CA;
}

.button-secondary:active {
  color: #FFFFFF4D;
  background-color: #82B3D3;
}

.button-secondary:disabled {
  color: #FFFFFF;
  background-color: #E5E5E5;
}

.newsletter-form {
  display: flex;
  justify-content: center;
}

.field {
  height: 52px;
  padding: 0 20px 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  border: none;
  width: 452px;
  font-weight: 400;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #F2F2F2;
}

.field::placeholder {
  color: rgb(0, 0, 0, 0.6);
}

.newsletter-title {
  margin: 0;
  width: 410px;
  padding: 0 398px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.newsletter-description {
  margin: 0 0 54px 0;
  padding-top: 20px;
  width: 475px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-transform: none;
  color: #333333;;
}

.page-footer {
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  padding: 40px 70px 30px 80px;
  margin: 0;
}

.page-footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.copyright {
  max-width: 120px;
  color: #000000;
  text-align: right;
  text-decoration: none;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  align-items: center;
  column-gap: 28px;
  max-width: 150px;
  margin: 0;
  padding: 0;
}

.footer-social-link {
  display: block;
  outline: none;
  cursor: pointer;
  background-color: #ffffff;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: center;
}

.social-icon {
  fill: #83B3D3;
}

.footer-social-link:focus-visible .social-icon {
  fill: #68A2CA;
}

.footer-social-link .social-icon:hover {
  fill: #68A2CA;
}

.footer-social-link .social-icon:focus {
  fill: #68A2CA;
}

.footer-social-link .social-icon:active {
  fill: #68A2CA4D;
}

.footer-social-link .social-icon:disabled {
  fill: #83B3D3;
}

.contacts-phone {
  cursor: pointer;
  outline: none;
  max-width: 340px;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.contacts-phone:hover {
  color: #756157;
}

.contacts-phone:focus {
  color: #756157;
}

.contacts-phone:focus-visible {
  color: #756157;
}

.contacts-phone:active {
  color: #7561574D;
}

.copyright {
  outline: none;
}

.copyright:focus-visible {
  fill: #756157;
}

.copyright .logo-icon:hover {
  fill: #756157;
}

.copyright .logo-icon:focus {
  fill: #756157;
}

.copyright .logo-icon:active {
  fill: #7561574D;
}
