.inner-container {
  background-image: url("../images/background/background-3.jpg");
  background-repeat: no-repeat;
  object-fit: fill;
  background-size: cover;
  width: 1200px;
  padding: 35px 70px 70px;
  color: #FFFFFF;
}
.inner-header-title {
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}
.breadcrumbs {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
}
.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
}
.forms {
  display: flex;
  flex
}
.form-filter {
  display: grid;
  grid-template-columns: 150.43px 150.43px;
  grid-template-rows: 157px;
  column-gap: 70px;
  margin-right: 140.15px;
  padding-top: 40px;
}
.catalog-filter {
  display: flex;
  column-gap: 70px;
}
.catalog-filter-group {
  grid-column: 1 / 2;
  border: 0;
  margin: 0;
  padding: 0;
}
.catalog-house-group {
  grid-column: 2 / 3;
  border: 0;
  margin: 0;
  padding: 0;
}
.catalog-filter-title {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  text-transform: capitalize;
}
.catalog-filter-list {
  margin: 0;
  padding: 0;
}
.control label {
  font-weight: 400;
}
.control-input {
  margin: 0;
  border: 0;
  padding: 0;
}
.form-price {
  display: grid;
  grid-template-columns: 288px 191px;
  grid-template-rows: 160px;
  column-gap: 70px;
  padding-top: 40px;
}
.appointment-form {
  grid-column: 1 / 2;
  padding: 0;
  margin: 0;
  border: 0;
}
.appointment-form-title {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.appointment-price {
  padding: 0;
  margin: 0;
  border: 0;
}
.range {
  padding: 0;
  margin: 0;
  border: 0;
}
.button-price {
  grid-column: 3 / 4;
  padding-top: 56px;
}
.button-secondary {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #82B3D3;
}
.button-third {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #00000000;
}
.search-apartments {
  display: flex;
  justify-content: center;
  padding: 50px 70px 40px;
  color:#000000;
  background-color:#FFFFFF
}
.apartments-select {
  margin: 0;
  width: 338px;
  margin-right: auto;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: inherit;
  background-color: #FFFFFF;
}
.select-control {
  background-image: url("../images/arrow-down.svg");
  background-repeat: no-repeat;
  appearance: none;
  border: 0;
  width: 292px;
  margin-right: 70px;
  background-color: #FFFFFF;
}
.view-list {
  width: 160px;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: center;
  display: flex;
  min-height: 40px;
  column-gap: 8px;
}
.view-item {
  min-width: 48px ;
  min-height: 48px;
  color: #000000;
  background-color: #FFFFFF;
}
.button-view-cards {
  color: inherit;
  background-color: #FFFFFF;
}
.cards-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  grid-template-rows: 438px 438px;
  row-gap: 20px;
  column-gap: 20px;
  padding: 0;
  padding-bottom: 40px;
  border-bottom: 1px solid #E6E6E6;
  margin-bottom: 40px;
  margin: 0;
  list-style: none;

}
.cards-item {
  min-height: 438px;
  min-width: 340px;
  color: #FFFFFF;
}
.place-card-title {
  margin: 0;
  margin-bottom: 16px;
  padding-top: 16px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  background-color: #FFFFFF;
  text-align: left;
}
.sort {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 21px 36px 37px ;
  column-gap: 20px;
  row-gap: 16px;
  padding-left: 20px;
  padding-right: 20px;
}
.place-name {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #FFFFFF;
  text-align: left;
}
span {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #FFFFFF;
  text-align: right;
}
.rating-text {
  grid-column: 3 / 4;
  grid-row: 5 / 6;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  background-color: #FFFFFF;
  text-align: right;
  text-transform: uppercase;
}
figure {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
}
.button-active {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #7DB54F;
}
.pagination-navigation {
  width: min(100%, 400px);
}
.pagination-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  column-gap: 8px;
  list-style: none;
  margin-left: 70px;
}
.pagination-item {
  min-width: 60px;
  min-height: 60px;
}
.pagination-link {
  color: #FFFFFF;
  background-color: #82B3D3;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}
.pagination-current {
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
}
.newsletter-theme-dark {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 258px 104px;
  color: #000000;
  background-color: #ffffff;
  background-repeat: no-repeat;
  text-align: center;
}
.newsletter-title {
  margin: 0;
  width: 404px;
  padding: 0 398px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}
.newsletter-description {
  margin: 0;
  width: 475px;
  padding: 0 362.5px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-transform: none;
  color: #333333;;
}
.newsletter-form {
  width: 684px;
  padding: 0 258px;
}
.user-email {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #F2F2F2;
}
.button-secondary {
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #82B3D3;
}
