.inner-container {
  background-image: url(../images/background/background-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 1200px;
  box-sizing: border-box;
  padding: 35px 70px 70px;
  color: #FFFFFF;
}
.inner-header-title {
  margin: 0 0 8px 0;
  padding: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}
.breadcrumbs {
  display: flex;
  position: relative;
  column-gap: 28px;
  list-style: none;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
}
.breadcrumbs-item {
  position: relative;
}
.breadcrumbs li:not(:last-child)::before {
  position: absolute;
  content: "";
  background-image: url(../images/breadcrumbs/breadcrumbs-2.svg);
  right: calc(-100% - 5px);
  top: 5px;
  width: 8px;
  height: 20px;
}
.breadcrumbs-link {
  font-size: 16px;
  cursor: pointer;
  line-height: 1.3125;
  display: inline-block;
  color: inherit;
  text-decoration: none;
}
.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}
.breadcrumbs-link:focus {
  color: #FFFFFF;
}
.breadcrumbs-link:focus-visible {
  color: #FFFFFF;
}
.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}
.breadcrumbs-link-home {
  display: inline-block;
  outline: none;
  background-image: url(../images/breadcrumbs/breadcrumbs-1.svg);
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
}
 .breadcrumbs-link-home:hover {
  opacity: 0.6;
}
.breadcrumbs-link-home:focus {
  opacity: 0.6;
}
.breadcrumbs-link-home:focus-visible {
  outline: none;
  opacity: 0.6;
}
.forms {
  display: flex;
  justify-content: space-between;
}
.form-filter {
  display: grid;
  grid-template-columns: 150px 150px;
  grid-template-rows: 157px;
  column-gap: 70px;
  margin: 0 140px 0 0;
  padding: 40px 0 0 0;
}
.catalog-filter {
  display: flex;
  column-gap: 70px;
}
.catalog-filter-group {
  grid-column: 1 / 2;
  border: 0;
  margin: 0;
  padding: 0;
}
.catalog-house-group {
  grid-column: 2 / 3;
  border: 0;
  margin: 0;
  padding: 0;
}
.catalog-filter-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: #FFFFFF;
  text-transform: capitalize;
}
.catalog-filter-list {
  list-style: none;
  margin: 32px 0 0 0;
  padding: 0;
}
.control {
  position: relative;
  display: block;
  height: 23px;
  padding-left: 36px;
}
.catalog-filter-item:not(:last-child) .control {
  margin-bottom: 16px;
}
.control-input {
  margin: 0;
  border: 0;
  padding: 0;
}
.control-mark {
  position: absolute;
  width: 20px;
  top: 5px;
  left: 0;
  background-color: #FFFFFF;
  height: 20px;
  border: none;
  border-radius: 4px;
}
.control:hover .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}
.control:focus-within .control-mark {
  outline: 3px solid #83B3D3;
  background-color: #FFFFFF;
}
.control:active .control-mark {
  background-color: rgba(255, 255, 255, 0.3);
}
.control:hover .control-label {
  color: rgba(255, 255, 255, 0.6);
}
.control:focus-within .control-label {
  color: #FFFFFF;
}
.control:active .control-label {
  color: rgba(255, 255, 255, 0.3);
}
.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  content: "";
  background-image: url(../images/done-usual.svg);
  top: 5px;
  right: 4px;
  width: 12px;
  height: 10px;
}
.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
  border: none;
}
.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}
.control-label {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2777;
  color: #FFFFFF;
}
.form-price {
  display: grid;
  grid-template-columns: 288px 191px;
  grid-template-rows: 160px;
  column-gap: 70px;
  padding-top: 40px;
}
.appointment-form {
  grid-column: 1 / 2;
  padding: 0;
  margin: 0;
  border: 0;
}
.appointment-form-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: #FFFFFF;
}
.appointment-form-price {
  display: inline-flex;
  align-items: flex-start;
  column-gap: 2px;
  padding-top: 32px;
  margin-bottom: 36px;
}
.price-label {
 position: relative;
}
.appointment-form-price span {
  position: absolute;
  right: 20px;
  top: 50%;
  font-size: 18px;
  line-height: 1.3333;
  color: rgba(0, 0, 0, 0.3);
  transform: translateY(-50%);
}
.price-input {
  outline: none;
  width: 143px;
  font: inherit;
  font-weight: 700;
  box-sizing: border-box;
  font-size: 18px;
  padding-right: 60px;
  padding-left: 20px;
  background-color: #F2F2F2;
  height: 48px;
  border: 1px solid #ccc;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.price-input:hover {
  background-color: #E6E6E6;
}
.price-input:focus {
  outline: 2px solid #83B3D3;
  background-color: #E6E6E6;
}
.price-input:focus-visible {
  outline: 2px solid #83B3D3;
  background-color: #E6E6E6;
}
.price-input:active {
  background-color: #FFFFFF;
  outline: 2px solid #000000;
}
.price-input-before {
  outline: none;
  font: inherit;
  padding-right: 60px;
  font-size: 18px;
  font-weight: 700;
  padding-left: 20px;
  box-sizing: border-box;
  width: 143px;
  height: 48px;
  border: 1px solid #ccc;
  background-color: #F2F2F2;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.price-input-before:hover {
  background-color: #E6E6E6;
}
.price-input-before:focus {
  border-color: #83B3D3;
  background-color: #E6E6E6;
}
.price-input-before:focus-visible {
  outline: 2px solid #83B3D3;
  background-color: #E6E6E6;
}
.price-input-before:active {
  background-color: #FFFFFF;
  outline: 2px solid #000000;
}
.min-price .max-price {
  padding: 0;
  margin: 0;
  border: 0;
}
.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}
.range-bar {
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
}
.range-toggle {
  position: absolute;
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #FFFFFF;
  cursor: pointer;
}
.range-toggle:hover {
    background-color: #FFFFFF;
}
.range-toggle:focus {
  background-color: #FFFFFF;
   outline: 3px solid #83B3D3;
}
.range-toggle:active {
  background-color: #FFFFFF;
  outline: 2px solid #83B3D3;
}
.toggle-min {
  top: -8px;
  left: 0;
}
.toggle-max {
  top: -8px;
  right: -10px;
}
.button-price {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  grid-column: 2 / 3;
  padding-top: 56px;
}
.apartments {
  padding: 50px 70px 60px 70px;
}
.search-apartments {
  display: flex;
  justify-content: center;
  color:#000000;
  background-color:#FFFFFF
}
.apartments-select {
  width: 338px;
  margin: 0 auto 0 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: inherit;
  background-color: #FFFFFF;
}
.select-control {
  font-size: 18px;
  line-height: 21px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  appearance: none;
  padding: 12px 20px;
  padding-right: 40px;
  background-image: url("../images/arrow-down.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  background-position: right 20px center;
  background-size: 12px 7px;
  width: 292px;
  height: 49px;
  margin-right: 70px;
  background-color: #FFFFFF;
}
.select-control:hover {
  border-color: #68A2CA;
}
.select-control:focus {
  border-color: #68A2CA;
  outline: none;
}
.select-control:focus-visible {
  border-color: #68A2CA;
  outline: none;
}
.select-control:active {
  border-color: #3F5E72;
}
.select-control:disabled {
  background-image: url(../images/arrow-down-disabled.svg);
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.3);
  border-color: rgba(0, 0, 0, 0.3);
}
.view-list {
  width: 160px;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: center;
  display: flex;
  text-align: center;
  column-gap: 8px;
}
.view-item {
  border-radius: 4px;
}
.button-view {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  box-sizing: border-box;
}
.button-view:hover {
  border-color:  #000000;
}
.button-view:focus {
  outline: none;
  border-color: #68A2CA;
}
.button-view:focus-visible {
  outline: none;
  border-color: #68A2CA;
}
.button-view:active {
  border-color: #000000;
}
.button-view-dark {
  border: 2px solid black;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
}
.cards-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(438px, auto);
  row-gap: 20px;
  column-gap: 20px;
  padding: 40px 0 40px 0;
  margin: 0;
  border-bottom: 1px solid #E6E6E6;
  list-style: none;

}
.cards-item {
  padding: 20px;
  border: 1px solid #E6E6E6;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  color: #FFFFFF;
}
.place-card-image {
  max-width: 100%;
  height: auto;
}
.place-card-title {
  margin: 0 0 16px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  background-color: #FFFFFF;
  text-align: left;
}
.sort {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 21px 36px 37px ;
  column-gap: 20px;
  box-sizing: border-box;
  row-gap: 16px;
}
.place-name {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #FFFFFF;
  text-align: left;
}
span {
  grid-row: 1 / 2;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-align: right;
}
.rating {
  background-color: #F2F2F2;
}
.rating-text {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  font-weight: 400;
  padding: 9px 22px 8px 23px;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  text-align: right;
  text-transform: uppercase;
}
figure {
  margin: 0;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}
.pagination-navigation {
  width: min(100%, 400px);
}
.pagination-list {
  padding: 40px 0 0 0;
  display: flex;
  justify-content: flex-start;
  column-gap: 8px;
  list-style: none;
  margin: 0;
}
.pagination-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #82B3D3;
  min-height: 60px;
  min-width: 60px;
  border-radius: 4px;
}
.pagination-item-light {
  color: #000000;
  background-color: #F2F2F2;
}
.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  cursor: pointer;
  color: #FFFFFF;
  outline: none;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
}
.pagination-link:hover {
  background-color: #68A2CA;
  border-radius: 4px;
}
.pagination-link:focus {
  background-color: #68A2CA;
  border-radius: 4px;
}
.pagination-link:focus-visible {
  background-color: #68A2CA;
  border-radius: 4px;
}
.pagination-link:focus-visible {
  background-color: #68A2CA;
  border-radius: 4px;
}
.pagination-link:active {
  background-color: #82B3D3;
  color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}
.pagination-current {
  color: #000000;
  border-radius: 4px;
  background-color: #F2F2F2;
  text-decoration: none;
}
.pagination-current:hover {
  border-radius: 4px;
  background-color: #F2F2F2;
}
.pagination-current:focus {
  border-radius: 4px;
  background-color: #F2F2F2;
}
.pagination-current:focus-visible {
  border-radius: 4px;
  background-color: #F2F2F2;
}
.pagination-current:active {
  border-radius: 4px;
  color: #000000;
  background-color: #F2F2F2;
}
.pagination-choose {
  border-radius: 4px;
  color: #000000;
}
.pagination-choose:hover {
  border-radius: 4px;
  background-color: #F2F2F2;
}
.pagination-choose:focus {
  border-radius: 4px;
  background-color: #F2F2F2;
}
.pagination-choose:focus-visible {
  border-radius: 4px;
  background-color: #F2F2F2;
}
.pagination-choose:active {
  border-radius: 4px;
  color: #000000;
  background-color: #F2F2F2;
}
.newsletter-theme-dark {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 258px 104px;
  color: #000000;
  background-color: #ffffff;
  background-repeat: no-repeat;
  text-align: center;
}
.newsletter-title {
  margin: 0;
  width: 404px;
  padding: 0 398px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}
.newsletter-description {
  margin: 0 0 54px 0;
  padding-top: 20px;
  width: 475px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-transform: none;
  color: #333333;;
}
.button-size-large {
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #82B3D3;
}
