@font-face {
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-diplay: swap;
}
@font-face {
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
html {
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}
 .visually-hidden {
  position: fixed;
  transform: scale(0);
}
.container {
  margin: 0 auto;
  width: 1200px;
}
.page-header {
  color: #000000;
  background-color: #ffffff;
}
.navigation-logo {
  display: flex;
  justify-content: center;
  width: 140px;
  margin-right: 28px;
}
.navigation {
  display: flex;
  margin: 0 auto;
}
.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 625px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.navigation-user {
  max-width: 315px;
  margin-left: auto;
}
.navigation-user,
.navigation-item {
  min-width: 44px;
  min-height: 64px;
}
.navigation-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: inherit;
}
.navigation-link-current {
  color: inherit;
  text-decoration: none;
}
.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
}
.button-secondary {
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #82B3D3;
}
.page-footer {
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 70px 30px;
  margin: 0;
}
.copyright {
 max-width: 120px;
 margin-left: auto;
 color: #000000;
 text-align: right;
 text-decoration: none;
}
.footer-social-list {
 max-width: 150px;
 margin: 0;
 margin-right: 41.5px;
 padding: 0;
 display: flex;
 flex-wrap: wrap;
 list-style: none;
 justify-content: center;
}
.footer-social-item {
  min-width: 47.33px;
  min-height: 40px;
}
.footer-social-link a {
  text-decoration: none;
}
.contacts-phone {
  max-width: 340px;
  padding: 0 41.5px;
  margin: 0 auto;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
