@font-face {
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-diplay: swap;
}
@font-face {
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
html {
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}
 .visually-hidden {
  position: fixed;
  transform: scale(0);
}
.container {
  margin: 0 auto;
  width: 1200px;
}
.page-header {
  position: relative;
  padding: 14px 70px 14px 254px;
  display: flex;
  color: #000000;
  background-color: #ffffff;
}
.navigation-logo {
  position: absolute;
  outline: none;
  left: 70px;
  top: 0;
  display: flex;
  justify-content: center;
  width: 140px;
  height: 70px;
  margin-right: 28px;
}
.navigation-logo:focus {
  opacity: 0.4;
}
.navigation-logo:focus-visible {
  opacity: 0.4;
}
.navigation {
  display: flex;
  width: 100%;
}
.navigation-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
  margin: 0 auto 0 0;
  padding: 0;
  list-style: none;
}
.navigation-user {
  max-width: 315px;
  margin-right: 32px;
}
.navigation-link {
  position: relative;
  outline: none;
  display: block;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: inherit;
}
.navigation-link:focus {
  opacity: 0.4;
}
.navigation-link:focus-visible {
  opacity: 0.4;
}
.navigation-link-current {
  position: relative;
  color: inherit;
  text-decoration: none;
}
.navigation-link-current::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  left: 0;
  bottom: -21px;
  background-color: #756257;
}
.navigation-button-search {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.navigation-button-search:focus {
  outline: none;
  opacity: 0.4;
}
.navigation-button-search:focus-visible {
  opacity: 0.4;
}
.navigation-link-favorite {
  cursor: pointer;
}
.navigation-icon {
    fill: #000000;
  }
.content-bage {
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   width: 20px;
   height: 20px;
   color: #ffffff;
   font-size: 10px;
   line-height: 10px;
   text-align: center;
   border-radius: 10px;
   top: -11px;
   left: 8px;
   background-color: #7DB54F;
  }
.button {
  display: inline-block;
  font-family: inherit;
  outline: none;
  padding: 8px 34px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
}
.button:hover {
  background-color: #615048;
}
.button:focus {
  background-color: #615048;
}
.button:active {
  color: #FFFFFF4D;
  background-color: #756157;
}
.button:disabled {
  color: #FFFFFF;
  background-color: #E5E5E5;
}
.main-container {
  flex-grow: 1;
}
.page-container {
  width: 1200px;
  margin: 0 auto;
}
.button-secondary {
  background-color: #82B3D3;
}
.button-secondary:hover {
  background-color: #68A2CA;
}
.button-secondary:focus {
  background-color: #68A2CA;
}
.button-secondary:active {
  color: #FFFFFF4D;
  background-color: #82B3D3;
}
.button-secondary:disabled {
  color: #FFFFFF;
  background-color: #E5E5E5;
}
.button-size-large {
  padding: 8px 50px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.8;
}
.button-secondary {
  font-weight: 700;
  padding: 8px 50px;
  font-size: 16px;
  min-width: 191px;
  line-height: 20px;
}
.button-third {
  padding: 8px 58px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: transparent;
}
.button-third:hover {
  color: #FFFFFF;
  background-color: transparent;
}
.button-third:focus {
  border: 3px solid #83B3D3;
  color: #FFFFFF;
  background-color: transparent;
}
.button-third:active {
  color: #FFFFFF4D;
  background-color: transparent;
}
.button-third:disabled {
  color: #FFFFFF;
  background-color: #E5E5E5;
}
.button-more {
  padding: 8px 26px;
  font-size: 16px;
  line-height: 1.25;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #756157;
}
.button-secondary {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  font-size: 16px;
  line-height: 1.25;
  padding: 8px 20px;
  min-width: 140px;
}
.button-active {
  padding: 8px 18px;
  font-size: 16px;
  line-height: 1.25;
  border: none;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #7DB54F;
}
.button-active:hover {
  color: #FFFFFF;
  background-color: #6C9E42;
}
.button-active:focus {
  border: none;
  color: #FFFFFF;
  background-color: #6C9E42;
}
.button-active:active {
  color: #FFFFFF4D;
  background-color: #7DB54F;
}
.button-third:disabled {
  color: #FFFFFF;
  background-color: #E5E5E5;
}
.newsletter .button-secondary {
  font-size: 20px;
  line-height: 1.8;
  padding: 8px 50px;
  min-width: 232px;
  background-color: #82B3D3;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.newsletter-form {
  display: flex;
  justify-content: center;
}
.field {
  height: 52px;
  padding: 0 20px 0;
  box-sizing: border-box;
  border: none;
  width: 452px;
  font-weight: 400;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #F2F2F2;
}
.field::placeholder {
  color: rgb(0, 0, 0, 0.6);
}
.page-footer {
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 70px 30px;
  margin: 0;
}
.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}
.copyright {
 max-width: 120px;
 margin-left: auto;
 color: #000000;
 text-align: right;
 text-decoration: none;
}
.footer-social-list {
 max-width: 150px;
 margin: 0 41.5px 0 0;
 padding: 0;
 display: flex;
 flex-wrap: wrap;
 list-style: none;
 justify-content: center;
 align-items: center;
 column-gap: 26px;
}
.footer-social-link {
  display: block;
  outline: none;
  cursor: pointer;
  background-color: #ffffff;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: center;
}
.social-icon {
  fill: #83B3D3;
}
.footer-social-link:focus-visible .social-icon {
  fill: #68A2CA;
}
.footer-social-link .social-icon:hover {
  fill: #68A2CA;
}
.footer-social-link .social-icon:focus {
  fill: #68A2CA;
}
.footer-social-link .social-icon:active {
  fill: #68A2CA4D;
}
.footer-social-link .social-icon:disabled {
  fill: #83B3D3;
}
.contacts-phone {
  cursor: pointer;
  outline: none;
  max-width: 340px;
  padding: 0 41.5px;
  margin: 0 auto;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
.contacts-phone:hover {
  color: #756157;
}
.contacts-phone:focus {
  color: #756157;
}
.contacts-phone:focus-visible {
  color: #756157;
}
.contacts-phone:active {
  color: #7561574D;
}
.copyright {
  outline: none;
}
.copyright:focus-visible {
  fill: #756157;
}
.copyright .logo-icon:hover {
  fill: #756157;
}
.copyright .logo-icon:focus {
  fill: #756157;
}
.copyright .logo-icon:active {
  fill: #7561574D;
}
