  .hero {
    background-image: url("../images/background/background-1.jpg"), url("../images/arrows.svg");
    background-repeat: no-repeat;
    object-fit: fill;
    height: 485px;
    background-position: left bottom, center;
    color: #000000;
    background-color: #ffffff;
  }
  .logo {
    display: block;
    margin: 0 auto;
    padding: 51px 0 82px 0;
  }
  .advantages {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .advantages-heading {
    width: 620px;
    padding: 69px 290px 0 290px;
    margin: 0 0 25px 0;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
  }
  .advantages-text {
    width: 651px;
    margin: 0 0 69px 0;
    padding: 0 274.5px;
    font-weight: 400;
    text-align: center;
    color: #333333;
  }
  .advantages-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(385px, auto);
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
  }
  .advantages-item {
    padding: 0;
    color: #ffffff;
    background-color: #82B3D3;
  }
  .advantages-item-large {
    display: grid;
    grid-template-columns: minmax(auto, 400px) 1fr;
    grid-column: 1 / -1;
  }
  .advantages-item-large-reverse {
    grid-template-columns: 1fr minmax(auto, 400px);
  }
  .advantages-title {
    margin: 0 0 62px 0;
    padding-top: 102px;
    padding-right: 112.5px;
    padding-left: 112.5px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #ffffff;
  }
  .advantages-description {
    margin: 0 0 102px 0;
    padding-left: 85px;
    padding-right: 85px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: none;
  }
  .advantages-item-square,
  .advantages-item-tourist {
    color: #000000;
    background-color: rgba(131, 179, 211, 0.12);
  }
  .advantages-title-square,
  .advantages-title-tourist {
    margin: 0 0 62px 0;
    padding-top: 112.5px;
    padding-right: 112.5px;
    padding-left: 112.5px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #000000;

  }
  .advantages-description-theme-light {
    margin-bottom: 112.5px;
    padding-left: 85px;
    padding-right: 85px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
  }
  .advantages-item-road {
    color: #000000;
    background-color: rgba(131, 179, 211, 0.2);
  }
  .advantages-title-road {
    margin: 0 0 62px 0;
    padding-top: 112.5px;
    padding-right: 112.5px;
    padding-left: 112.5px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #000000;
  }
  .advantages-description-road {
    margin-bottom: 112.5px;
    padding-left: 85px;
    padding-right: 85px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
  }
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .about-heading {
    padding: 64px 0 0 0;
    text-transform: uppercase;
    margin: 0 0 20px 0;
    width: 505px;
    padding-left: 347.5px;
    padding-right: 347.5px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
  }
  .about-text {
    text-transform: none;
    width: 490px;
    margin-bottom: 64px;
    padding: 0 355px;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
  }
  .about-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(385px, auto);
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
  }
  .about-item {
    padding: 183px 85px 0;
    color: #000000;
    background-color: rgba(131, 179, 211, 0.12);
  }
  .about-item-food {
    padding: 183px 85px 0;
    color: #000000;
    background-color: #FFFFFF;
  }
  .about-house {
   background-image: url("../images/house.svg");
   background-repeat: no-repeat;
   background-position: 163px 81px;
   color: #82B3D3;
  }
  .about-food {
  background-image: url("../images/burger.svg");
  background-repeat: no-repeat;
  background-position: 163px 81px;
  color: #82B3D3;
  }
  .about-present {
    background-image: url("../images/present.svg");
    background-repeat: no-repeat;
    background-position: 163px 81px;
    color: #82B3D3;
  }
  .about-title {
    padding: 0;
    margin: 0 0 30px 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #000000;
  }
  .about-description {
    margin-bottom: 81px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: none;
    color: #333333;
  }
  .appointment {
    padding: 96px 304px;
    text-align: center;
    background-color: #FFFFFF;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .appointment-title {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
    background-color: #FFFFFF;
  }
  .appointment-description {
    margin: 0;
    margin-bottom: 54px;
    padding-top: 20px;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-transform: none;
    color: #333333;
    background-color: #FFFFFF;
  }
  .newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 258px 104px;
    max-width: 1200px;
    background-image: url("../images/background/background-2.jpg");
    color: #000000;
    background-color: #ffffff;
    background-repeat: no-repeat;
    text-align: center;
  }
  .newsletter-title {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #00000000;
  }
  .newsletter-description {
    max-width: 475px;
    margin: 0 0 54px 0;
    padding-top: 20px;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-transform: none;
    color: #FFFFFF;
    background-color: #00000000;
  }
  .button-secondary {
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    border-radius: 0;
    padding: 8px 50px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    background-color: #82B3D3;
  }
