@font-face {
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-diplay: swap;
}

@font-face {
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 1280px;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #F2F2F2;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.container {
  margin: 0 auto;
  width: 1200px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;
}

.page-header {
  position: relative;
  padding: 14px 70px 14px 254px;
  display: flex;
  color: #000000;
  background-color: #ffffff;
}

.navigation-logo {
  position: absolute;
  outline: none;
  left: 70px;
  top: 0;
  display: flex;
  justify-content: center;
  width: 140px;
  height: 70px;
  margin-right: 28px;
}

.navigation-logo:hover {
  opacity: 0.3;
}

.navigation-logo:focus {
  opacity: 0.4;
}

.navigation-logo:focus-visible {
  opacity: 0.4;
}

.navigation {
  display: flex;
  width: 100%;
}

.navigation-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 350px;
  gap: 32px;
  margin: 0 auto 0 0;
  padding: 0;
  list-style: none;
}

.navigation-user {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  max-width: 95px;
  margin-right: 32px;
}

.navigation-link {
  position: relative;
  outline: none;
  display: block;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.navigation-link:hover {
  opacity: 0.3;
}

.navigation-link:focus {
  opacity: 0.4;
}

.navigation-link:focus-visible {
  opacity: 0.4;
}

.navigation-link-current {
  position: relative;
  color: inherit;
  text-decoration: none;
}

.navigation-link-current::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  left: 0;
  bottom: -21px;
  background-color: #756257;
}

.navigation-button-search {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.navigation-button-search:hover {
  opacity: 0.3;
}

.navigation-button-search:focus {
  outline: none;
  opacity: 0.4;
}

.navigation-button-search:focus-visible {
  opacity: 0.4;
}

.navigation-link-favorite {
  cursor: pointer;
}

.navigation-icon {
  fill: #000000;
}

.content-bage {
  position: absolute;
  top: -11px;
  left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  color: #ffffff;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  border-radius: 10px;
  background-color: #7DB54F;
}

.button {
  display: inline-block;
  font-family: inherit;
  box-sizing: border-box;
  max-width: 376px;
  outline: none;
  padding: 8px 34px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
}

.button:hover {
  background-color: #615048;
}

.button:focus {
  background-color: #615048;
}

.button:active {
  color: #FFFFFF4D;
  background-color: #756157;
}

.button:disabled {
  color: #FFFFFF;
  background-color: #E5E5E5;
}

.main-container {
  flex-grow: 1;
}

.button-secondary {
  background-color: #82B3D3;
}

.button-secondary:hover {
  background-color: #68A2CA;
}

.button-secondary:focus {
  background-color: #68A2CA;
}

.button-secondary:active {
  color: #FFFFFF4D;
  background-color: #82B3D3;
}

.button-secondary:disabled {
  color: #FFFFFF;
  background-color: #E5E5E5;
}

.button-size-large {
  padding: 8px 50px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.8;
}

.hero {
  background-image: url(../images/arrows.svg), url("../images/background/background-1.jpg");
  background-repeat: no-repeat;
  object-fit: fill;
  height: 485px;
  background-position: left bottom, center;
  color: #FFFFFF;
  background-color: #000000;
}

.logo {
  display: block;
  margin: 0 auto;
  padding: 51px 0 82px 0;
}

.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
 }

.advantages-heading {
  width: 630px;
  padding: 69px 290px 0 290px;
  margin: 0 0 25px 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantages-text {
  width: 655px;
  margin: 0 0 69px 0;
  font-size: 22px;
  line-height: 1.18;
  font-weight: 400;
  text-align: center;
  color: #333333;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(385px, auto);
  margin: 0;
  padding: 21px 0 0 0;
  list-style: none;
  text-align: center;
}

.advantages-item {
  padding: 0;
  color: #ffffff;
  background-color: #82B3D3;
}

.advantages-item-large {
  display: grid;
  grid-template-columns: minmax(auto, 400px) 1fr;
  grid-column: 1 / -1;
}

.advantages-item-large-reverse {
  grid-template-columns: 1fr minmax(auto, 400px);
}

.advantages-title {
  position: relative;
  margin: 0 0 62px 0;
  padding-top: 102px;
  padding-right: 112.5px;
  padding-left: 112.5px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
}

.advantages-title::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 60px;
  left: 170px;
  bottom: -28px;
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-description {
  margin: 0 0 102px 0;
  padding-left: 85px;
  padding-right: 85px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: none;
  color: #FFFFFF;
}

.advantages-item-square,
.advantages-item-tourist {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-title-square,
.advantages-title-tourist {
  position: relative;
  margin: 0 0 62px 0;
  padding-top: 112.5px;
  padding-right: 112.5px;
  padding-left: 112.5px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.advantages-title-square::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 60px;
  left: 170px;
  bottom: -28px;
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-title-tourist::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 60px;
  left: 170px;
  bottom: -28px;
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-description-theme-light {
  margin-bottom: 112.5px;
  padding-left: 85px;
  padding-right: 85px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.advantages-item-road {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-title-road {
  position: relative;
  margin: 0 0 62px 0;
  padding-top: 112.5px;
  padding-right: 112.5px;
  padding-left: 112.5px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.advantages-title-road::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 60px;
  left: 170px;
  bottom: -28px;
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-description-road {
  margin-bottom: 112.5px;
  padding-left: 85px;
  padding-right: 85px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.about-heading {
  padding: 64px 0 0 0;
  text-transform: uppercase;
  margin: 0;
  width: 505px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.about-text {
  text-transform: none;
  width: 490px;
  margin-bottom: 64px;
  padding: 0 355px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.about-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(385px, auto);
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.about-item {
  padding: 183px 85px 0;
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}

.about-item-food {
  padding: 183px 85px 0;
  color: #000000;
  background-color: #FFFFFF;
}

.about-house {
  background-image: url("../images/house.svg");
  background-repeat: no-repeat;
  background-position: 163px 81px;
  color: #82B3D3;
}

.about-food {
  background-image: url("../images/burger.svg");
  background-repeat: no-repeat;
  background-position: 163px 81px;
  color: #82B3D3;
}

.about-present {
  background-image: url("../images/present.svg");
  background-repeat: no-repeat;
  background-position: 163px 81px;
  color: #82B3D3;
}

.about-title {
  padding: 0;
  margin: 0 0 30px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.about-description {
  margin-bottom: 81px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: none;
  color: #333333;
}

.appointment {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 304px;
  text-align: center;
  background-color: #FFFFFF;
  color: #000000;
}

.appointment-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFFFFF;
}

.appointment-description {
  margin: 0;
  margin-bottom: 54px;
  padding-top: 20px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-transform: none;
  color: #333333;
  background-color: #FFFFFF;
}

.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 258px 104px;
  max-width: 1200px;
  background-image: url("../images/background/background-2.jpg");
  color: #FFFFFF;
  background-size: cover;
  background-color: #000000;
  background-repeat: no-repeat;
  text-align: center;
}

.newsletter .button-secondary {
  padding: 8px 50px;
  min-width: 232px;
  background-color: #82B3D3;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-size: 20px;
  line-height: 1.8;
}

.button-secondary {
  background-color: #82B3D3;
}

.button-secondary:hover {
  background-color: #68A2CA;
}

.button-secondary:focus {
  background-color: #68A2CA;
}

.button-secondary:active {
  color: #FFFFFF4D;
  background-color: #82B3D3;
}

.button-secondary:disabled {
  color: #FFFFFF;
  background-color: #E5E5E5;
}

.newsletter-form {
  display: flex;
  justify-content: center;
}

.field {
  height: 52px;
  padding: 0 20px 0;
  box-sizing: border-box;
  border: none;
  width: 452px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #F2F2F2;
}

.field::placeholder {
  color: rgb(0, 0, 0, 0.6);
}

.newsletter-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #00000000;
}

.newsletter-description {
  max-width: 475px;
  margin: 0 0 54px 0;
  padding-top: 20px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-transform: none;
  color: #FFFFFF;
  background-color: #00000000;
}

.page-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  padding: 40px 70px 30px 80px;
  margin: 0;
  color: #FFFFFF;
}

.page-footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.copyright {
  max-width: 120px;
  color: #000000;
  text-align: right;
  text-decoration: none;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  align-items: center;
  column-gap: 28px;
  max-width: 150px;
  margin: 0;
  padding: 0;
}

.footer-social-link {
  display: block;
  outline: none;
  cursor: pointer;
  background-color: #ffffff;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: center;
}

.social-icon {
  fill: #83B3D3;
}

.footer-social-link:focus-visible .social-icon {
  fill: #68A2CA;
}

.footer-social-link .social-icon:hover {
  fill: #68A2CA;
}

.footer-social-link .social-icon:focus {
  fill: #68A2CA;
}

.footer-social-link .social-icon:active {
  fill: #68A2CA4D;
}

.footer-social-link .social-icon:disabled {
  fill: #83B3D3;
}

.contacts-phone {
  cursor: pointer;
  outline: none;
  max-width: 340px;
  padding: 0;
  margin: 0 236px 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.contacts-phone:hover {
  color: #756157;
}

.contacts-phone:focus {
  color: #756157;
}

.contacts-phone:focus-visible {
  color: #756157;
}

.contacts-phone:active {
  color: #7561574D;
}

.copyright {
  outline: none;
}

.copyright:focus-visible {
  fill: #756157;
}

.copyright .logo-icon:hover {
  fill: #756157;
}

.copyright .logo-icon:focus {
  fill: #756157;
}

.copyright .logo-icon:active {
  fill: #7561574D;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-visible {
  display: flex;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #FFFFFF;
  box-shadow: 0 25px 50px rgb(0, 0, 0, 0.15);
}

.modal-auth {
  width: 577px;
  border-radius: 30px;
}

.modal-close-button {
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #F2F2F2;
  border: none;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #E6E6E6;
}

.modal-close-button:focus {
  border: 3px solid #83B3D3;
  background-color: #E6E6E6;
}

.modal-close-button:focus-visible {
  outline: none;
  border: 3px solid #83B3D3;
  background-color: #E6E6E6;
}

.modal-close-button:active {
  border: none;
  background-color: #E6E6E6;
}

.modal-icon {
  fill: #000000;
}

.modal-close-button:active .modal-icon {
  border: none;
  fill: rgba(0, 0, 0, 0.3);
}

.modal-title {
  margin: 0 0 64px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  color: #000000;
  text-transform: uppercase;
}

.field-group {
  display: grid;
  grid-template-columns: 137px 440px;
  grid-auto-rows: minmax(48px, auto);
  grid-template-rows: minmax(48px, auto) auto;
  margin: 0 0 23px;
  row-gap: 4px;
}

.auth-form label {
  grid-column: 1 / 2;
  justify-self: flex-start;
  align-self: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: #000000;
}

.auth-form .check {
  background-color: #F2F2F2;
  border-radius: 4px;
  padding-right: 48px;
  border: none;
  min-width: 440px;
  min-height: 48px;
  background-image: url(../images/modal-window/date.svg);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  cursor: pointer;
  background-position: right 20px center;
}

.auth-form-field {
  outline: none;
  background-color: #F2F2F2;
}

.auth-form-field:hover {
  background-color: #E6E6E6;
}

.auth-form-field:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.auth-form-field:focus-visible {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.auth-form-field.inputting {
  color: #000000;
  border-color: #000000;
  background-color: #F2F2F2;
}

.auth-form-field:invalid
.auth-form-field.error {
  box-shadow: none;
}

.message {
  grid-column: 2 / 3;
  justify-self: flex-start;
  padding-left: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3125;
  color: #FF5757;
}

.auth-form .field-group-second {
  display: grid;
  grid-template-columns: 137px 440px;
  grid-auto-rows: minmax(48px, auto);
  grid-template-rows: minmax(48px, auto) auto;
  row-gap: 4px;
  margin: 0 0 23px;
}

.message-room {
  grid-column: 2 / 3;
  justify-self: flex-start;
  padding-left: 20px;
  font-weight: 400;
  line-height: 1.3125;
  font-size: 16px;
  color: #333333;
}

.input {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.input-date {
  line-height: 1.3;
  box-sizing: border-box;
  padding-left: 20px;
}

.quantity {
  display: flex;
  align-items: center;
  height: 48px;
  justify-content: space-between;
  margin-bottom: 48px;
}

.quantity-group {
  display: flex;
  align-items: center;
}

.quantity-group:first-child label {
  color: #000000;
  font-size: 20px;
  margin-right: 46px;
}

.quantity-kids {
  display: flex;
  align-items: center;
  margin-left: 88px;
  margin-right: 40px;
}

.quantity-kids label {
  color: #000000;
 font-size: 20px;
 margin-right: 10px;
}

.form-input {
  width: 31px;
  height: 48px;
  background-color: #F2F2F2;
  padding: 0;
  border: none;
}

.form-input:focus {
  outline: none;
  opacity: 0.4;
}

.form-input:focus-visible {
  outline: none;
  opacity: 0.4;
}

.input-number {
  text-align: center;
  line-height: 1.1;
}

.button-minus {
  width: 40px;
  height: 48px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  padding: 0;
  border: none;
  outline: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.button-plus {
  width: 40px;
  height: 48px;
  font-size: 18px;
  font-family: "PT Sans", sans-serif;
  outline: none;
  padding: 0;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.button-minus svg, .button-plus svg {
  fill: rgba(117, 97, 87, 0.3);
}

.button-minus:focus-visible svg, .button-plus:focus-visible svg {
  outline: 3px solid #82B3D3;
  background-color: #FFFFFF;
  fill: #000000;
}

.button-minus:focus svg, .button-plus:focus svg {
  outline: 3px solid #82B3D3;
  background-color: #FFFFFF;
  fill: #000000;
}

.button-minus:hover svg, .button-plus:hover svg {
  fill: #000000;
}

.button-minus:active svg, .button-plus:active svg {
  outline: none;
  background-color: transparent;
  fill: rgba(117, 97, 87, 0.3);
}

.tooltip {
  position: relative;
  display: flex;
}

.tooltip-toggle {
  display: flex;
  border: none;
  background-color: transparent;
  outline: none;
  padding: 0;
  margin: 0;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  display: block;
  fill: #83B3D3;
}

.tooltip-toggle:hover .tooltip-icon {
  color: #83B3D3;
}

.tooltip-text {
  position: absolute;
  top: 40px;
  left: -3px;
  width: 256px;
  display: none;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text::after {
  position: absolute;
  content: "";
  background-image: url(../images/modal-window/triangle.svg);
  top: -9px;
  left: 7px;
  width: 19px;
  height: 9px;
}

.tooltip-paragraph {
  position: absolute;
  top: 0;
  left: -44%;
  font-size: 16px;
  margin: 0;
  line-height: 1.25;
  width: 256px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 15px 18px 18px 22px;
  color: #FFFFFF;
  background-color:#333333;
}

.buttons-number {
  display: flex;
  align-items: center;
}

.button-search {
  border: none;
  height: 60px;
  cursor: pointer;
  min-width: 577px;
  font-family: "PT Sans", sans-serif;
  padding: 0;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.2;
  border-radius: 10px;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.button-search:hover {
  background-color: #68A2CA;
}

.button-search:focus {
  outline: none;
  background-color: #68A2CA;
}

.button-search:active {
  background-color: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
}
